// color
$primary: #AA0601;
$black:#000000;
$white:#ffffff;
$pink:#FBF2F2;
$text-color:#650300;

// font-size & line-height
$font-size1:48px;
$line-height1:72px;

$font-size2:42px;
$line-height2:63px;

$font-size3:36px;
$line-height3:54px;

$font-size4:32px;
$line-height4:48px;

$font-size5:24px;
$line-height5:36px;

$font-size6:20px;
$line-height6:30px;

$font-size7:16px;
$line-height7:24px;

$font-size8:14px;
$line-height8:21px;

// font-weight

$fw-R400:400;
$fw-M500:500;
$fw-B700:700;
$fw-B900:900;
