block footer
    footer.bg-red
        .container
            .footer-box.flex.flex-jcsb
                ul.flex.footer-none
                    li 
                        a(href="index.html") 首頁
                    li 
                        a(href="series-optical.html") 系列鏡框
                    li 
                        a(href="store.html") 門市據點
                    li 
                        a(href="blog.html") 部落格
                    li 
                        a(href="QA.html") 常見問題
                ul.flex.footer-img
                    li
                        a(href="#") 
                            img(src="./images/ic-social-fb.png", alt="")
                    li
                        a(href="#") 
                            img(src="./images/ic_social_line.png", alt="")
                    li
                        a(href="#") 
                            img(src="./images/ic_social_ig.png", alt="")
            .footer-contant
                .footer-contant-box.flex.flex-ac
                    i.fa-solid.fa-phone.fa-2x
                    p 0800-000-000
                .footer-contant-box.flex.flex-ac
                    i.fa-regular.fa-envelope.fa-2x
                    p glasses@business.com
            .footer-copyright.flex-jcsb.flex
                p Copyright © 2020 Glasses.All rights reserved.
                .footer-copyright-box
                    ul.flex.flex-jcsb
                        li 
                            a(href="#") 隱私權政策
                        li 
                            a(href="#") 服務條款