extend head.pug
block layout
    header.bg-red
        .container.flex-jcsb
            a(href="index.html") 
                img(src="./images/logo-white.png", alt="logo")
            block navbar
    block content
    block footer