.text{
  font-size: 20px;
  line-height: 30px;
}

// flex設定

.flex{
  display: flex;
}
.flex-jc{
  justify-content: space-between;
}
.flex-wp{
  flex-wrap: wrap;
}

.flex-jcsb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-c{
  display: flex;
  align-items: center;
}

.flex-justify-c{
  display: flex;
  justify-content: center;
}

.flex-c{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

// header & footer 背景字體設定

.bg-red{
  background-color: #AA0601;
  color:white;
  a{
    color: white;
  }
  
}

// 網頁尺寸
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;

}



// button 換頁按鈕

.page-bottom{
  margin: 92px auto;
  width: 40%;

  li{
    display: block;
    font-size: 19x;
    line-height: 29px;
    
  }
  li:first-child,li:last-child{
    font-size: 19px;
    line-height: 29px;
    background: #F2F2F2;
  }
  a{
    padding: 16px;
    border: #555555 solid 1px;
  }

  a:hover{
    background: black;
    color: white;
    opacity: 0.8;
    transition-duration : 0.5s;
  }
}
// button rwd
@include ipad{
  .page-bottom{
    width: 100%;
  }
}
@include phone{
  .page-bottom{
    margin: 40px 0 64px 0;
    li{
      font-size: 16x;
      line-height: 26px;
      
    }
    li:first-child,li:last-child{
      font-size: 16px;
      line-height: 26px;
    }
    a{
      padding: 12px;
    }
  }
}

// RWD padding
@include ipad{
  .container{
      padding: 0 35px;
    }
}

@include phone{
  .container{
      padding: 0 13px;
    }
}