extend layout/layout.pug
block navbar
    - var path = 'index.html'
    include layout/navbar.pug
block content
    .index-content
        .banner.flex.flex-ac
            .banner-text
                h3 Promise-Desert 2020 早春系列
                h1 看得清，才能看得遠
                a(href="series-optical.html")
                    input(type="button" value="立即購買")
                
        .index-block
            .container
                h2 用專業的心，做專業的事 
                .flex-jc.flex.flex-wp
                    .index-box
                        img(src="./images/home-section2-1.png", alt="home-section2-1.png")
                        h4 單一價格
                        p 無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。
                    .index-box
                        img(src="./images/home-section2-2.png", alt="home-section2-1.png")
                        h4 20 分鐘即可取件
                        p 為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。
                    .index-box
                        img(src="./images/home-section2-3.png", alt="home-section2-1.png")
                        h4 安心售後服務
                        p 我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
                    .index-box
                        img(src="./images/home-sectioin2-4.png", alt="home-section2-1.png")
                        h4 關於鏡片
                        p 使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
        .index-series.container
            h2 經典系列鏡框
            .flex-jc.flex.flex-wp
                .index-seriex-box
                    img(src="./images/home-section3-1.png", alt="home-section3-1")
                    h2 OPTICAL
                .index-seriex-box
                    img(src="./images/home-section3-2.png", alt="home-section3-2")
                    h2 SUNGLASSES
                .index-seriex-box
                    img(src="./images/home-section3-3.png", alt="home-section3-3")
                    h2 FUNCTIONAL
        .index-design
            .container
                h2 聯名設計鏡框
                .flex
                    .index-image
                        .index-image-img
                        img(src="./images/home-section4-1.png", alt="home-section4-1.png")
                        h2 DOUBLE A+
                    .index-image
                        .index-image-img-2
                        img(src="./images/home-section4-2.png", alt="home-section4-1.png")
                        h2 YOUTH

        .index-series.index-customer.container
            h2 顧客推薦
            .flex.flex-wp.flex-jcsb
                .index-customer-box
                    img(src="./images/home-section5-1.png", alt="home-section5-1.png")
                    .customer-box
                        p Jessy
                        p 眼鏡品質優良，下次還會想來這邊購買！
                        p.time 2021/06/20
                .index-customer-box
                    img(src="./images/home-section5-2.png", alt="home-section5-2.png")
                    .customer-box
                        p 凱倫
                        p 做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
                        p.time 2021/04/18
                .index-customer-box
                    img(src="./images/home-section5-3.png", alt="home-section5-3.png")
                    .customer-box
                        p 悠悠
                        p 謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
                        p.time 2020/12/25
                .index-customer-box
                    img(src="./images/home-section5-4.png", alt="home-section5-4.png")
                    .customer-box
                        p Kyuan
                        p 服務很好，品質沒有任何問題，非常喜歡。
                        p.time 2020/10/31
        .index-contantus 
            .container
                h2 聯絡我們
                p.text 我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
                .index-table
                    p 姓名
                    label(for="name") 
                        input(type="text" id="name" name="name" placeholder="陳小明")
                    p 聯絡電話
                    label(for="tel") 
                        input(type="tel" id="tel" name="tel" placeholder="0912-345-678")
                    p 電子郵件
                    label(for="email") 
                        input(type="email" id="email" name="email" placeholder="example@email.com")
                    p 意見反應
                    label(for="name") 
                        input.index-input(type="text" id="tel" name="tel"  placeholder="請輸入您的意見")
                .checkbox 
                    label(for="check")
                        input.check(type="checkbox" id="check")
                        |我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                    
                        
                a(href="#") 
                    input(type="button" value="確認送出") 

block footer
    include layout/footer.pug