extend layout/layout.pug
block navbar
    - var path = 'page4.html'
    include layout/navbar.pug
block content
    .container
        .contant-tittle
            h1.fsz-1.lh-1.fw-b 常見問題
            h2.fsz-5.lh-5.fw-b 我想詢問配鏡問題
            ul
                li.contant
                    p.fsz-6.lh-6.fw-b Q1.請問可否自備鏡框單配鏡片？
                    p.lh-7 A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                li.contant
                    p.fsz-6.lh-6.fw-b Q2.眼鏡都可以20分鐘取件嗎？
                    p.lh-7 A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                li.contant 
                    p.fsz-6.lh-6.fw-b Q3.散光鏡片需要額外加價嗎？
                    p.lh-7 A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                li.contant 
                    p.fsz-6.lh-6.fw-b Q4.我可以使用舊眼鏡的度數配鏡片嗎？
                    p.lh-7 A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                li.contant 
                    p.fsz-6.lh-6.fw-b Q5.請問可以單購買鏡框嗎？
                    p.lh-7 A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                        br
                        |他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                
block footer
    include layout/footer.pug