extend layout/layout.pug
block navbar
    - var path = 'index.html'
    include layout/navbar.pug
block content
    .series-nav.container 
            ul.flex-c
                li
                    a(href="series-optical.html") 
                        h3 OPTICAL
                li
                    a(href="series-sunglasses.html") 
                        h3 SUNGLASSES
                li
                    a(href="series-optical.html") 
                        h3 FUNCTIONAL
    .series-banner.flex
        .series-banner-box.series-banner-img1
        .series-banner-box.series-banner-img2
    .series-content.container
        .series-content-title
            h3 Celluloid Combi
            h3 賽璐珞鈦金屬混合鏡框
        .series-content-box.flex-wrap.flex-jc 
            .series-content-item 
                img(src="./images/product-1.png", alt="product-1.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-2.png", alt="product-2.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-3.png", alt="product-3.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-4.png", alt="product-4.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            //- 第一行
            
            .series-content-item 
                img(src="./images/product-5.png", alt="product-5.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-6.png", alt="product-6.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-7.png", alt="product-7.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-8.png", alt="product-8.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            //- 第二行
            .series-content-item 
                img(src="./images/product-9.png", alt="product-9.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-10.png", alt="product-10.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-11.png", alt="product-11.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            .series-content-item 
                img(src="./images/product-12.png", alt="product-12.png")
                .flex-jcsb
                    h4 BJ41600S
                    h4.money NTD3,490
                .flex
                    .series-content-color
                    .series-content-color.coloro
            
    .page-bottom
        ul.flex-c
            li 
                a(href="series-optical.html") 上一頁
            li 
                a(href="series-sunglasses.html") 1
            li
                a(href="series-optical.html") 2    
            li 
                a(href="series-sunglasses.html") 3
            li 
                a(href="series-optical.html") 4
            li 
                a(href="series-sunglasses.html") 5
            li 
                a(href="series-sunglasses.html") 下一頁
block footer
    include layout/footer.pug