extend layout/layout.pug
block navbar
    - var path = 'index.html'
    include layout/navbar.pug
block content
    .container
        .store-tittle
            h1 門市據點
            .store-tittle-box 
                label(for="city") 選擇地區
                select(name="city") 
                    option(value="city-choose") --選擇區域--
                    option(value="taipe") 台北市
                    option(value="Taichung") 台中市
                    option(value="Kaohsiung") 高雄市
        .store-content.flex-wrap
            .store-content-box
                a(href="store-taipei.html") 
                    img(src="./images/store-1.png", alt="")
                    h4 台北中山旗艦店
                    ul
                        li 
                            .store-content-box-icon.flex-align-c
                                i.fa-solid.fa-phone
                                p 電話：(02)000-1234
                        li 
                            .store-content-box-icon.flex-align-c
                                i.fa-regular.fa-clock
                                p 營業時間：10:00-21:00
                        li 
                            .store-content-box-icon.flex-align-c
                                i.fa-solid.fa-location-dot
                                p 地址：台北市中山區南京東路25巷2-1號
                    bottom 詳細資訊
            .store-content-box
                img(src="./images/store-2.png", alt="")
                h4 台北綠園店
                ul
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-phone
                            p 電話：(02)000-2345
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-regular.fa-clock
                            p 營業時間：10:00-21:00
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-location-dot
                            p 地址：台北市中正區復興南路 132-1 號
                bottom 詳細資訊
            .store-content-box
                img(src="./images/store-3.png", alt="")
                h4 台中清水旗艦店
                ul
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-phone
                            p 電話：(02)000-1234
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-regular.fa-clock
                            p 營業時間：10:00-21:00
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-location-dot
                            p 地址：台中市清水區經南一路 23 號 8 樓
                bottom 詳細資訊            
            .store-content-box
                img(src="./images/store-4.png", alt="")
                h4 高雄中正形象店
                ul
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-phone
                            p 電話：(07)000-2345
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-regular.fa-clock
                            p 營業時間：10:00-21:00
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-location-dot
                            p 地址：高雄市苓雅區中正路 38 號 12 樓
                bottom 詳細資訊    

            .store-content-box
                img(src="./images/store-5.png", alt="")
                h4 高雄夢時代店
                ul
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-phone
                            p 電話：(07)000-1234
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-regular.fa-clock
                            p 營業時間：10:00-21:00
                    li 
                        .store-content-box-icon.flex-align-c
                            i.fa-solid.fa-location-dot
                            p 地址：高雄市前鎮區中華一路 63 號 6 樓
                bottom 詳細資訊        


    
block footer
    include layout/footer.pug