.blog-bg{
  background: $text-color;
  color:white;
  padding: 13px;
  li{
    padding-right: 48px;
  }
  i{
    width: 29px;
  }

  li:hover,i:hover{
    opacity: 0.7;
  }
}


.blog-content{
  .flex-jcsb{
    align-items: stretch;
  }
  .blog-content-box{
    margin-bottom: 60px;
    a:hover{
      animation: opacity 1s ;
    }
  }
  img{
    width: 49%;
    object-fit: cover ;
  }
  .hide{
    display: none;
  }
}


.blog-content-text{
  width: 49%; 
  h3{
    color:$text-color;
  }
  .flex-jcsb{
    margin-bottom: 16px;
    
  }
  .blog-color{
    color:#555555;
  }
  a{
    padding-top: 102px;
    color: $text-color;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}


@include ipad{
  .blog-content{
    h3{
      font-size: 24px;
      line-height: 36px;
    }
    .flex-jcsb h4,p{
      font-size: 16px;
      line-height: 24px;
    }
    .flex-jcsb{
      margin-bottom: 0px;
    }
    .blog-content-box{
      margin-bottom: 24px;
    }
  }
  .blog-content-box{
    img{
      width: 50%;
      background-size:auto;
    }
  }
  .blog-content-text{
    width: 50%;
    padding-left: 24px;
    a{
      display: none;
    }
    .hide{
      display: inline;
    }
  }
  .text{
    text-align: justify
  }
}

@include mobie{
  .blog-bg{
    display: none;
  }
  .blog-content{
    h1{
      margin: 40px 0 24px 0;
      font-size: 24px;
      line-height: 36px;
    }
    .text{
      display: none;
    }
    .blog-content-box{
      display: block;
    }
    img{
      width: 100%;
    }
  }
  .blog-content-text{
    width: 100%;
    padding: 0px;
    .blog-color{
      display: none;
    }
  }
  .page-bottom{
    margin-top: 64px;
  }
}
