.blog-content{
  .flex-jcsb{
    align-items: stretch;
  }
  .blog-content-box{
    margin-bottom: 60px;
    a:hover{
      animation: opacity 1s ;
    }
  }
  img{
    width: 49%;
    object-fit: cover ;
  }
  
}


.blog-content-text{
  width: 49%; 
  h3{
    color:#650300 ;
  }
  .flex-jcsb{
    margin-bottom: 16px;
    h4{
      font-size: 20px;
      line-height: 30px;
    }
    p{
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }
  .text{
    color:#555555;
  }
  a{
    padding-top: 102px;
    color: #650300;
    font-weight: 900;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}


@include ipad{
  .blog-content{
    h3{
      font-size: 24px;
      line-height: 36px;
    }
    .flex-jcsb h4,p{
      font-size: 16px;
      line-height: 24px;
    }
    .flex-jcsb{
      margin-bottom: 0px;
    }
    .blog-content-box{
      margin-bottom: 24px;
    }
  }
  .blog-content-box{
    img{
      width: 50%;
      background-size:auto;
    }
  }
  .blog-content-text{
    width: 50%;
    padding-left: 24px;
    a{
      color:#555555;
      font-size: 16px;
      line-height: 24px;
      padding: 0px;
      display: inline;
    }
  }
  .text{
    text-align: justify
  }
}

@include phone{
  .blog-content{
    h1{
      margin: 40px 0 24px 0;
      font-size: 24px;
      line-height: 36px;
    }
    .text{
      display: none;
    }
    .blog-content-box{
      display: block;
    }
    img{
      width: 100%;
    }
  }
  .blog-content-text{
    width: 100%;
    padding: 0px;
    
  }
  .page-bottom{
    margin-top: 64px;
  }
}
