.blog-text-tittle{
  margin-top: 24px;
  margin-bottom: 8px;
  .blog-color{
    color:$primary;
  }
  .blog-text-tittle-box{
    color:$primary;
    p{
      margin-right: 15px;
    }
  }
}

.blog-text-content-article{
  
  width: 66.5%;
  h1{
    border:0px;
    padding: 0px;
    margin: 0;
  }
  h2{
    margin-bottom: 16px;
  }
  .article-mb{
    margin-bottom: 40px;
  }
  .article-mt{
    margin-top: 8px;
  }
  .lh-7{
    color:#555555;
  }
  .blog-article{
    margin-bottom: 80px;
    img{
      width: 24px;
      margin-left: 16px;
      margin-bottom: 16px;
    }
    ul{
      border-bottom:1px solid #707070;
      margin-bottom: 24px;
    }
    p{
      margin:0 12px;
    }
  }

}

.blog-text-content-label{
  
  width: 32%;
  color:$primary;
  .flex{
    margin-bottom: 4px;
    p{
      margin-right: 24px;
    }
    p:hover{
      opacity: 0.6;
    }
  }
  i{
    width: 38px;
  }
}