.banner{
  background-image: url(../images/home-header.png);
  background-size:cover;
  height: 100vh;
  color: #650300;
  h3{
    font-size: 36px;
    line-height: 54px;
  }
  h1{
    margin: 0px; padding: 0px;
    border:0;
    // 清除本來h1樣式
    font-size: 64px;
    line-height: 96px;
  }
  .banner-text{
    text-align: right;
    margin-right: 5%;
  }
  input{
    background-color: #AA0601;
    color: white;
    padding: 6px 12px;
    border: 0;
  }
  
  input:hover {
    background:linear-gradient(to bottom, #941b10 20%, #AA0601 100%);
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  input:active {
    position:relative;
    top:1px;
}
}


.index-block{
  text-align: center;
  background-color: #FBF2F2;
  h2{
    font-weight: 700;
    color: #650300;
    padding: 80px 0 32px 0; 
  }
  .index-box{
    width: 24%;
    margin-bottom: 80px;
    h4{
      
      margin-bottom: 8px;
    }
    img{
      margin: 0 auto;
      width: 83px;
      margin-bottom: 24px;
    }
    p{
      text-align: left;
    }
  }

}

.index-series{
  padding: 80px 0;
  text-align: center;
  h2{
    font-weight: 700;
    color:#650300 ;
    margin-bottom: 48px;
  }
  .flex-jcsb{
    margin-left: -24px;
  }
  .index-seriex-box{
    width: 33%;
    padding-left: 24px;
    h2{
      margin-top: 8px;
      margin-bottom: 0px;
      color: #AA0601;
      font-weight: 900;
      font-style: italic;
    }
  }
  .index-seriex-box:hover{
    opacity: 0.7;
    transition-duration: 1s;
  }

}

.index-design{
  padding: 80px 0;
  background-image: url(../images/index-bg.png);
  background-size:cover;
  text-align: center;
  h2{
    color: white;
    font-weight: 700;
    margin-bottom: 48px;
  }
  .index-image{
    h2{
      padding: 8px auto;
      font-weight: 900;
      font-style: italic;
      color:#AA0601;
      background: white;
    }
  }
}


.index-customer{
  text-align: center;
  .flex-jcsb{
    margin-left: 0;
  }
  .index-customer-box{
    width: 24%;
    border: #DEE2E6 1px solid;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 6px #00000029;
    text-align: left;
    .customer-box{
      padding: 16px;
      p{
        margin-bottom: 8px;
      }
      .time{
        margin:64px auto 0 auto;
      }
      
    }
  }
  .index-customer-box:hover{
    opacity: 0.7;
    transition-duration: 1s;
  }
}


.index-contantus{
  background: #FBF2F2;
  padding: 80px 0;


  .container{
    width: 50%;

  h2{
    text-align: center;
    margin-bottom: 48px;
    color: #650300;
    font-weight: 700;
  }
  p{
    text-align: left;
  }
  .text{
    margin-bottom: 24px;
  }
  a{
    text-align: center;
  input{
    padding: 16px 0;
    width: 65%;
    color: white;
    background: #AA0601;
    border:0;
    
  }

  input:hover {
    background:linear-gradient(to bottom, #941b10 20%, #AA0601 100%);
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  }
  
  }
}


.index-table{
  flex-direction: column;


  input{
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 12px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 16px;
    background-color: rgba($color: #FBF2F2, $alpha: 0.0);
  }
  p{
    margin-bottom: 8px;
  }
  .index-input{
    padding-bottom: 106px;
  }
  
}
.checkbox{
  margin-bottom: 24px;
} 
label{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  .check{
    appearance:checkbox;
  }
}
