.contant-tittle{
padding-bottom: 48px;
  h1{
    margin-bottom: 32px;
  }
  h2{
    margin-bottom: 24px;
  }
}

.contant{
  margin-bottom: 32px;
  .fsz-6{
  margin-bottom: 8px;
  }
}

@include phone{
  .contant-tittle{
    h1{
      font-size: 24px;
      line-height: 36px;
      margin: 40px 0 24px 0;
    }
  }
}

