.series-banner{
  .series-banner-img3{
    background-image: url(../images/product-header-3.png);
  }
  .series-banner-img4{
    background-image: url(../images/product-header-4.png);
  }
}
.series-sunglasses-box{
  width: 32.4%;
  // img{
  //   height: 25vh;
  // }
}

@include ipad{
  .series-banner{
    .series-banner-img3{
      background-image: url(../images/product-header-sm-3.png);
    }
    .series-banner-img4{
      background-image: url(../images/product-header-sm-4.png);
    }
  }
.series-sunglasses-box{
  width: 10%;
  // img{
  //   height: 22vh;
  // }
}
}
