.store-taipei-index{
  padding-bottom: 80px;

}
.store-taipei{
  width: 40%;
  margin-bottom: 0px;
  padding-left: 0px;
}
.store-map{
  margin-left: 24px;
  width: 57%;
}

// RWD

@include ipad{
  .store-taipei-index{
    .flex{
      flex-direction: column;
    }
    li{
      list-style: none;
    }
  }
  
  .store-content-box{
    width: 100%;
    display: flex;

    .store-content-flex{
      margin: 0px;
      border: 1px solid #00000020;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    img{
      width: 50%;
      padding-right: 24px;
      
    }
    p{
      font-size: 20px;
      line-height: 30px;
      padding-left: 11px;
    }
    ul{
      border:0px;
      padding: 16px 24px;
        
    }
    
    h4{
      width: 100%;
      border: 0px;
      border-bottom: 1px solid #00000020;
    }
    

  }
  .store-map{
    display: block;
    height: 50vh;
    margin-top: 24px ;
    margin-left: 0px;
    width: 100%;
    
  }
}