.store-taipei-index{
  padding-bottom: 80px;

}
.store-taipei{
  width: 40%;
  margin-bottom: 0px;
  padding-left: 0px;
}
.store-map{
  margin-left: 24px;
  width: 57%;
}

// RWD

@include ipad{
  .store-taipei-index{
    .flex{
      flex-direction: column;
    }
    .store-taipei{
      display:flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .store-taipei{
    img{
      width: 49%;
    }
    .store-content-flex{
      width: 49%;
      margin: 0px;
      border: 1px solid #00000020;
    }
    ul,h4{
      border:0px;
    }
    h4{
      border-bottom: 1px solid #00000020;
    }
    .store-content-box-icon{
      flex-direction: row;
    }
  }
  .store-map{
    width: 100%;
    height: 50vh;
    margin-top: 24px ;
    margin-left: 0px;
  }
}


@include phone{
  .store-taipei-index{
    .store-taipei{
      display:block;
    }
  }
  .store-content-box{
      display: block;
      img{
        width: 100%;
        padding: 0;
      }
      .store-content-flex{
        width: 100%;
      }
    }
  .store-map{
    height: 35vh;
  }
}