.store-tittle-box{
  margin-bottom: 41px;
  display: flex;
  select{
    margin-left: 28px;
    opacity: 0.5;
    width: 23%;
    option{
      font-size: 18px;
      line-height: 26px;
      
    }
  }


}
.store-content{
  margin-left: -24px;
}

.store-content-box{
  width: 33%;
  padding-left: 24px;
  margin-bottom: 48px;
  
  h4{
    border: solid 1px #00000020;
    padding: 8px 24px;
  }
  ul{
    padding:16px 0 8px 24px;
    border: solid 1px #00000020;
  }
  button{
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
  a:hover{
    opacity: 0.7;
    transform: scale(1.03);
    
  }
}
.store-content-box-icon{
  
  margin-bottom: 8px;
  i{
    padding-right: 8px;
  }
}

// RWD

@include ipad{
  .store-tittle-box{
    width: 100%;
  }
  .flex-wp{
    margin: 0;
  }
  .store-content{
    margin-left: -24px;
  }
  .store-content-box{
    width: 50%;
    padding: 0px;
    padding-left: 24px;
    
  }
}

@include phone{
  .store-tittle{
    h1{
      font-size: 24px;
      line-height: 36px;
      margin: 40px 0px 24px 0;
    }
    label{
      font-size: 16px;
      width: 30%;
  }
  .store-tittle-box{
    margin-bottom: 31px;
    select{
    margin: 0;
    width: 100%;
    
  }
  }
  }
  .store-content-box{
    width: 100%;
  }
}