// font
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

// icon
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

// base
@import "./base/cssreset";
@import "./base/base.scss";
@import "./base/mixin.scss";

// layout
@import "./layout/layout";
@import "./layout/header";
@import "./layout/footer";

// page
@import "./page/index";
@import "./page/series-optical";
@import "./page/series-sunglasses";
@import "./page/store";
@import "./page/store-taipei";
@import "./page/blog";
@import "./page/QA";
